@import "tailwindcss";

@theme {
  /* Paleta Fintech Oscura */
  --color-background: #0f172a;
  --color-foreground: #f8fafc;

  --color-card: #1e293b;
  --color-card-foreground: #f8fafc;

  --color-primary: #10b981;
  --color-primary-foreground: #022c22;

  --color-danger: #ef4444;
  --color-danger-foreground: #fef2f2;

  --color-muted: #64748b;
  --color-muted-foreground: #94a3b8;
  
  --color-border: #334155;
}

@layer base {
  /* scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full border-2 border-solid border-transparent bg-clip-content;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-700 border-none;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #1e293b transparent;
  }

  /* input number no arrows */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

/* Estilos base */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}